$primary-color: #333;
$secondary-color: #555;

nav {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
            margin-right: 10px;

            a {
                text-decoration: none;
                color: $primary-color;
                font-weight: bold;

                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}